// body {
//     background-color: whitesmoke;
//     position: relative
// }
// time {
//     font-size: 13px;
//     color: #999;
//   }
  
//   .bottom {
//     margin-top: 13px;
//     line-height: 12px;
//   }
  
//   .button {
//     padding: 0;
//     float: right;
//   }
  
// //   .image {
// //     width: 100%;
// //     display: block;
// //   }
// //   img {
// //     background-image: none;
// //     border-right-width: 0px;
// //     padding-left: 0px;
// //     padding-right: 0px;
// //     display: block;
// //     border-top-width: 0px;
// //     border-bottom-width: 0px;
// //     margin-left: auto;
// //     border-left-width: 0px;
// //     margin-right: auto;
// //     padding-top: 0px;
// //     max-width: 30%;
// // }
  
//   .clearfix:before,
//   .clearfix:after {
//     display: table;
//     content: "";
//   }
  
//   .clearfix:after {
//     clear: both;
//   }


//   .el-menu {
//     list-style: none;
//     position: relative;
//     margin: 0;
//     padding-left: 0;
//     border-right: solid 0px #e6e6e6;
//     background-color: white
//   }
//   .el-main {
//     // display: block;
//     // -webkit-box-flex: 1;
//     // -ms-flex: 1;
//     // flex: 1;
//     // -ms-flex-preferred-size: auto;
//     // flex-basis: auto;
//     // -webkit-box-sizing: border-box;
//     // box-sizing: border-box;
//     // padding: 20px;
//     // background-color: whitesmoke;
//     // min-height: 900px;
//     // max-width: 1200px;
//     // min-width: 1200px;
//     left: 23%;
//     position: absolute;
//     width: 76%;
    
//   }
//   .el-footer {
//     padding: 0 20px;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     -ms-flex-negative: 0;
//     flex-shrink: 0;
//     margin-top: 50px;
//   }
//   h2,
//   h3,
//   h4 {
//     font-family: cursive;
//   }
//   aside.el-aside {
//     text-align: -webkit-center;
//     position: fixed;
//     height: 100%;
//     background-color: white;
//   }
//   .el-submenu .el-menu-item {
//     height: 50px;
//     line-height: 50px;
//     padding: 0 45px;
//      min-width:100%; 
// }
// .el-menu--horizontal>.el-menu-item {
//       /* float: left; */
//     /* height: 60px; */
//     /* line-height: 60px; */
//     margin: 0;
//     /* border-bottom: 2px solid transparent; */
//     /* color: #909399; */
//     text-align: -webkit-center;
// }
// .el-menu--horizontal>.el-menu-item.is-active {
//     border-bottom: 1px solid #409EFF;
//     color: #303133;
// }
// .el-row {
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     margin: 0 0 20px 0;
// }
// .el-card.comment.is-always-shadow {
//     margin: 10px 10px 10px 10px;
//     text-align: center;
// }
// .el-form-item__error {
//     color: #f56c6c;
//     font-size: 12px;
//     line-height: 1;
//     padding-top: 4px;
//     position: inherit;
//     top: 100%;
// }
// .el-menu--horizontal > .el-menu-item.is-active {
//     border-bottom: 0px solid #409EFF;
//     color: #303133;
// }
// .el-menu--horizontal>.el-menu-item {
//     float: left;
//     height: 60px;
//     line-height: 60px;
//     margin: 0;
//     border-bottom: 0px solid transparent; 
//     color: #909399;
// }

body {
    margin: 0;
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-variant: tabular-nums;
    line-height:0 !important;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
}

.ant-layout-header {
    // padding: 0 250px !important;
    height: 64px !important;
    line-height: 64px !important;
    z-index: 99999 !important;
    position: fixed !important;
    width: -webkit-fill-available !important;
    display: inline-flex
}
.ant-layout-sider-children {
    height: 100%;
    width: 190px;
    max-width: 258px;
    padding-top: 0.1px;
    margin-top: -0.1px;
    position: fixed;
}
.ant-layout-sider-zero-width-trigger {
    position: fixed !important;
    top: 12px!important;
    z-index: 9999999999!important;
    left:0 ;
    text-align: center!important;
    width: 36px!important;
    height: 42px!important;
    line-height: 42px!important;
    background: #001529!important;
    color: #fff!important;
    font-size: 18px!important;
    border-radius: 0 4px 4px 0!important;
    cursor: pointer!important;
    -webkit-transition: background 0.3s ease!important;
    transition: background 0.3s ease!important;
}
.ant-comment-nested {
    margin-left: 0!important;
}

#live2d-widget {
    // width: 100%;
    // height: 100%;
    // background-color: #262a30;
    // margin: 0;
}

#live2dcanvas {
    border: none !important;
}

li {
    cursor: pointer;
    // margin-bottom: 10px;
}